<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">TrendShop</h1>
            <p class="lead">Moda tutkunlarının tek adresi! Sizin için en iyi trendleri seçiyoruz! Kaliteli ürünler,
                uygun fiyatlar, hızlı teslimat! </p>
        </div>
    </div>
</header>